 body {
   padding-left: 0;
   padding-right: 0;

 }

#page-container, #map-container, #page-row, html, body {
   height: 100%;

}

 /* This makes absolutely positioned elements like p, h1,
     and some bootstrap elements placed properly. */
 #absolute-wrapper p, #absolute-wrapper h1, #absolute-wrapper h2, #absolute-wrapper h3, #absolute-wrapper h4, #absolute-wrapper h5, #absolute-wrapper h6 {
   margin-top: 0 !important;
 }
 #absolute-wrapper {
   position: relative;
   width: 320px;
   margin: 0 auto;
   height: 1px;
 }
 #absolute-wrapper span {
   width: 100px;
   height: 50px;
   position: absolute;
 }
 #absolute-wrapper span.span-1 {
   top: 68px;
   left: -389px;
 }
 #absolute-wrapper span.span-2 {
   top: 277px;
   left: -169px;
 }
 .container-fluid .row-fluid .span4 .well {
   margin: 0px 5px 10px 5px;
 }
 .container-fluid .row-fluid .span4 .well select {
   width: 200px;
 }
 .container-fluid .row-fluid .span4 .well {
   margin: 0px 5px 20px 5px;
 }
 #map {
   z-index: 1;
 }

 #page-container {
   z-index: 10;
 }

 #map-container {
   padding-top: 20px;
 }